In [2]:
# Import packages
import os

import pandas as pd
import earthpy as et

In [3]:
# URL for .csv with avg monthly precip data
avg_monthly_precip_url = "https://ndownloader.figshare.com/files/12710618"

# Download file
et.data.get_data(url=avg_monthly_precip_url)

'/Users/Jroldan001/earth-analytics/data/earthpy-downloads/avg-precip-months-seasons.csv'

In [4]:
# Set working directory to earth-analytics
os.chdir(os.path.join(et.io.HOME, "earth-analytics"))

In [5]:
# Import data from .csv file
fname = os.path.join("data", "earthpy-downloads", 
                     "avg-precip-months-seasons.csv")

avg_monthly_precip = pd.read_csv(fname)

avg_monthly_precip

   months  precip seasons
0     Jan    0.70  Winter
1     Feb    0.75  Winter
2     Mar    1.85  Spring
3     Apr    2.93  Spring
4     May    3.05  Spring
5    June    2.02  Summer
6    July    1.93  Summer
7     Aug    1.62  Summer
8    Sept    1.84    Fall
9     Oct    1.31    Fall
10    Nov    1.39    Fall
11    Dec    0.84  Winter

In [7]:
# Select first row and first column
avg_monthly_precip.iloc[0:1, 0:1]

  months
0    Jan

In [8]:
# Select first two rows and first column
avg_monthly_precip.iloc[0:2, 0:1]

  months
0    Jan
1    Feb

In [10]:
# Select first row with all columns
avg_monthly_precip.iloc[0:1, :]

  months  precip seasons
0    Jan     0.7  Winter

In [11]:
# Select first column with all rows
avg_monthly_precip.iloc[:, 0:1]

   months
0     Jan
1     Feb
2     Mar
3     Apr
4     May
5    June
6    July
7     Aug
8    Sept
9     Oct
10    Nov
11    Dec

In [12]:
# Create new dataframe with `months` as index
avg_monthly_precip_index = avg_monthly_precip.set_index("months")

avg_monthly_precip_index

        precip seasons
months
Jan       0.70  Winter
Feb       0.75  Winter
Mar       1.85  Spring
Apr       2.93  Spring
May       3.05  Spring
June      2.02  Summer
July      1.93  Summer
Aug       1.62  Summer
Sept      1.84    Fall
Oct       1.31    Fall
Nov       1.39    Fall
Dec       0.84  Winter

In [13]:
# Select Aug using months index 
avg_monthly_precip_index.loc[["Aug"]]

        precip seasons
months
Aug       1.62  Summer

In [14]:
# Select the `months` column as series
avg_monthly_precip["months"]

0      Jan
1      Feb
2      Mar
3      Apr
4      May
5     June
6     July
7      Aug
8     Sept
9      Oct
10     Nov
11     Dec
Name: months, dtype: object

In [15]:
# Select the `months` column as series
avg_monthly_precip["months"]

0      Jan
1      Feb
2      Mar
3      Apr
4      May
5     June
6     July
7      Aug
8     Sept
9      Oct
10     Nov
11     Dec
Name: months, dtype: object

In [16]:
# Select the `months` column as dataframe
avg_monthly_precip[["months"]]

   months
0     Jan
1     Feb
2     Mar
3     Apr
4     May
5    June
6    July
7     Aug
8    Sept
9     Oct
10    Nov
11    Dec

In [17]:
# Save months and seasons to new dataframe
avg_monthly_precip_text = avg_monthly_precip[['months', 'seasons']]

avg_monthly_precip_text

   months seasons
0     Jan  Winter
1     Feb  Winter
2     Mar  Spring
3     Apr  Spring
4     May  Spring
5    June  Summer
6    July  Summer
7     Aug  Summer
8    Sept    Fall
9     Oct    Fall
10    Nov    Fall
11    Dec  Winter

In [18]:
# Select rows with Summer in seasons
avg_monthly_precip[avg_monthly_precip["seasons"] == "Summer"]

  months  precip seasons
5   June    2.02  Summer
6   July    1.93  Summer
7    Aug    1.62  Summer

In [19]:
# Select rows equal to 1.62 in precip
avg_monthly_precip[avg_monthly_precip["precip"] == 1.62]

  months  precip seasons
7    Aug    1.62  Summer

In [20]:
# Save rows with values greater than 2.0 to new dataframe
gt2_avg_monthly_precip = avg_monthly_precip[avg_monthly_precip["precip"] > 2.0]

gt2_avg_monthly_precip

  months  precip seasons
3    Apr    2.93  Spring
4    May    3.05  Spring
5   June    2.02  Summer