In [19]:
# Import packages
import os

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import earthpy as et

In [20]:
# Set working directory
os.chdir(os.path.join(et.io.HOME, 'nyu', 'rbda_project_data'))

In [21]:
# Create a path to the pre-fire MODIS h4 data
modis_c6_path = os.path.join("modis_c6_from_firms_11_25",
                             "DL_FIRE_M6_167819", 
                             "fire_archive_M6_167819.csv")

In [23]:
modis_c6_data = pd.read_csv(modis_c6_path)

In [24]:
modis_c6_data

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type
0,40.2989,-120.5715,300.7,1.1,1.0,2000-11-16,1903,Terra,MODIS,35,6.03,273.1,9.8,D,0
1,40.2973,-120.5589,325.8,1.1,1.0,2000-11-16,1903,Terra,MODIS,84,6.03,274.7,32.4,D,0
2,39.9942,-123.9034,326.6,1.5,1.2,2000-11-16,1903,Terra,MODIS,85,6.03,280.1,52.0,D,0
3,39.9971,-123.9139,338.5,1.5,1.2,2000-11-16,1903,Terra,MODIS,91,6.03,280.2,80.9,D,0
4,39.7069,-122.1806,301.7,1.2,1.1,2000-11-16,1903,Terra,MODIS,49,6.03,286.3,6.9,D,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190911,41.1497,-123.4166,314.9,1.3,1.1,2020-07-31,2138,Aqua,MODIS,17,6.03,303.4,9.6,D,0
190912,41.1613,-123.4044,318.3,1.3,1.1,2020-07-31,2138,Aqua,MODIS,40,6.03,305.9,15.5,D,0
190913,41.1874,-123.4533,315.5,1.3,1.1,2020-07-31,2138,Aqua,MODIS,21,6.03,297.2,13.3,D,0
190914,41.1859,-123.4677,322.3,1.3,1.1,2020-07-31,2138,Aqua,MODIS,69,6.03,299.6,22.4,D,0
190915,41.1960,-123.4694,324.0,1.3,1.1,2020-07-31,2138,Aqua,MODIS,63,6.03,298.7,24.7,D,0